@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

.btn {
  @apply px-6 py-2 rounded-full font-semibold transition-all duration-300 ease-in-out;
}

.btn-primary {
  @apply bg-primary text-dark hover:bg-opacity-80;
}
